<p id="notice"><%= notice %></p>

<p>
  <strong>Subj:</strong>
  <%= @coursub.subj_id %>
</p>

<p>
  <strong>Cour:</strong>
  <%= @coursub.cour_id %>
</p>

<%= link_to 'Edit', edit_coursub_path(@coursub) %> |
<%= link_to 'Back', coursubs_path %>
